*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    background:rgba(0,0,0,0.3) url(pet_pic2.jpg);
    background-size: cover;
    background-blend-mode:darken ;
    background-attachment: fixed;
}
nav{
    background: white;
    height: 85px;
    width: 100%;
    box-shadow: 0 0 5px grey;
}
nav > a{
    float: right;
}
.body-content{
  display: flex;
  width: 100%;
  height: 85px;
}
.logo{
  width: 20%;
  height: inherit;
}
.useroption {
    /* align-content: space-between; */
    width: 100%;
    height: 100px;
    font-size: 19px;
    float: left;
    /* display: flex; */
    padding: 10px 10px;
    margin: 5px;
    margin-right: 15px;

}
.option a {
  word-spacing: 0px;
  float: right;
  margin-top: 15px;
  margin-right: 60px;
  padding-left: -60px;
}
.useroption .sell .fa-solid{
    margin-right: 0px;
}
.useroption .fa-solid {
    margin-right: 10px;
}
.menu a i{
    float: right;
    padding: 16px;
}
.sub-menu{
    float: right;
    margin-right: -222px;
    margin-top: 71px;
    padding-left: 50px;
    width: 280px;
    padding: 30px; 
    background-color: white;
    box-shadow: 0 0 5px gray ;
    display: none;
}

.sub-menu ul a i{
    margin-top: 20px;
}
.sub-menu ul a{
    font-family:Arial, Helvetica, sans-serif ;
}
.sub-menu ul:hover{
background-color: #c7dcff;
}
.menubar ul li:hover .sub-menu{
    display: block;
    position: absolute;
    background-color: aliceblue;
    margin-top: 15px;
    margin-left: 15px;
}
.block_div{
    display: block;
}
.logo img{
    padding:0 10px;
    width: -6px;
    margin-top: 8px;
    height:65px;
    align-items:left;
    display: flex;
    float: left;
}
.main h1{
    text-align: center;
    align-items: center;
    margin-top: 100px;
    margin-right: 10px;
    color: white;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.main h2{
    text-align: center;
    align-items: center;
    color:white;
    font-size:20px ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.search-contain{
    align-items: center;
    margin: auto;
    margin-top:20px;
    position: relative;
    height: 42px;
    width: 400px;
    -ms-high-contrast-adjust: 42px;
    border: 2px solid grey;
    padding: 0 10px;
    border-radius: 50px;
    background: white;
    box-shadow: 5px solid grey;

}
.element-contain{
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.search{
    border: none;
    height: 100%;
    width: 100%;
    padding: 0px 5px;
    border-radius: 50px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
.search:focus{
    outline: none;
}
