*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    background: rgba(0, 0, 0, 0.4)url('pet_pic2.jpg');
    background-blend-mode:darken ;
    background-size: cover;
    background-attachment: fixed;
}
nav{
    background: white;
    height: 85px;
    width: 100%;
}
nav > a{
    float: right;
}
.body-content{
  display: flex;
  width: 100%;
  height: 85px;
}
.logo{
  width: 20%;
  height: inherit;
}
.useroption {
    /* align-content: space-between; */
    width: 80%;
    height: 85px;
    font-size: 19px;
    float: right;
    /* display: flex; */
    padding: 10px 10px;
    margin: 5px;
    margin-right: 15px;

}
.option{
  float: right;
  margin-top: 15px;
  margin-right: 15px;
}
.useroption .sell .fa-solid{
    margin-right: 0px;
}
.useroption .fa-solid {
    margin-right: 10px;
}
.sub-menu{
    display: inline-block;
}
.menubar ul li:hover .sub-menu{
    display: block;
    position: absolute;
    background-color: aliceblue;
    margin-top: 15px;
    margin-left: 15px;

}
.logo img{
    padding:0 10px;
    width: -6px;
    margin-top: 8px;
    height:65px;
    align-items:left;
    display: flex;
    float: left;
}
.main h1{
    text-align: center;
    align-items: center;
    margin-top: 100px;
    margin-right: 10px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.main h2{
    text-align: center;
    align-items: center;
    color:white;
    font-size:20px ;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.search-contain{
    align-items: center;
    margin: auto;
    margin-top:20px;
    position: relative;
    height: 42px;
    width: 400px;
    -ms-high-contrast-adjust: 42px;
    border: 2px solid grey;
    padding: 0 10px;
    border-radius: 50px;
    background: white;
    box-shadow: 5px solid grey;

}



.element-contain{
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.search{
    border: none;
    height: 100%;
    width: 100%;
    padding: 0px 5px;
    border-radius: 50px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
.search:focus{
    outline: none;
}
 h1{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
form {
    margin-top: 20px;
  }
  form .input_box{
    height: 50px;
    width: 100%;
    position: relative;
    margin-top: 15px;
  }
  .input_box input{
    height: 80%;
    width: 80%;
    outline: none;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding-left: 45px;
    font-size: 15px;
    transition: all 0.3s ease;
  }
  .input_box input:focus{
    border-color: #be2edd;
  }
  .input_box .icon{
    position: absolute;
    top: 40%;
    left: 65px;
    transform: translateY(-50%);
    color: grey;
  }
  .button input{
    height: 35px;
  padding-left: 0;
  background: #b21fd3;
  color: #fff;
  border: none;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s linear;
}
.button input:hover{
  background: #5c0670;
}
form .register{
  text-align: center;
  margin-top: 5px;
}
.register a{
  color: #730b8a;
}
form a{
    text-decoration: none;
  }
  form a:hover{
    text-decoration: underline;
  }
.close{
    position: absolute;
    top: 0;
    right: 11px;
    font-size: 30px;
    font-weight: bold;
    transform: rotate(45deg);
    cursor:pointer ;
}


/*product */

.product{
  background-color: white;
  margin-top: 100px;
  padding-top: 1px;
  width: 100%;
    height: 100%;
}
.first_row{
  display: flex;
  justify-content: space-evenly;
  margin-top: 35px;
}

.box img{
  height: 100px;
  object-fit: cover;
  width: 200px;
  background-color: whitesmoke;
  padding-left: 15px;
  padding-top: 3px;
}

.box{
  border: 1px solid rgb(197,196,196);
  width: 217px;
  background-color: whitesmoke;
  display: flexbox;
}
.box:hover{
  border: 1px solid rgb(138,137,139);
}
.box a{
  text-decoration: none;
  color: black;
}
.box h1{
  padding: 1px 0 0 14px;
  font-size: 18px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.box p{
  padding:5px 0 0 14px ;
  font-size: 16px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.time {
  padding:0px 0 0 14px  ;
  font-size: 16px;
  display: flex;
  background-color:whitesmoke;
  justify-content: space-between;
}
.time p{
  font-size: 14px;
}
.time h4{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 16px;
}
